h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-right: 50px;
}

header {
    background-color: hsla(9, 5%, 48%, 0.856);
    padding: 0%; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 0px;
}

.headings {
    color: rgb(41, 223, 24);
    font-weight: bold;
}

.menu {
    background-color: black;
    padding-left: 15px;
    color: black;
    width: 100px;
}

.picture {
    border-radius: 50%;

}

img {
    padding: 0%; 
    margin-left: 0%;
}

p {
    padding: 200px;
    padding-top: 0%;
    padding-bottom: 0%;
}
section {
    padding: 15%; 
    padding-top: 0%;
    padding-bottom: 5%;
}
